### Python Fundamental Assignment

#  Assignment 1
problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly.
#

In [10]:
a = 10
b = 20
if a > b:
    print("a is greater than b")
elif a < b:
    print ("a is smaller than b")
else:
    print("a is equal to b")

a is smaller than b

# Assignment 2
Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Take three user inputs and print the greatest number from those inputs
using if-else condition. Edge cases, if any, should also be handeled
#

In [11]:
a = int(input("number1"))
b = int(input("number2"))
c = int(input("number3"))
if a > b and a > c:
    print("the greatest Number is a :", a)
elif b > c and b > a:
    print ("the greatest Number b:", b)
else:
    print("the greatest number c:", c)

number1 24
number2 55
number3 44

the greatest Number b: 55

# Assignment 3
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.

Tasks To Be Performed:
1 Print the numbers from 1 to 10 using while loop.

#

In [14]:
 num = 1
while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9

# Assignment 4 
Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1.Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the numbers.

#

In [24]:
List = [ 10, 23, 4, 26, 4, 75, 24, 54]
index = 0
while index < len(List):
    if List[index]  % 2 == 0:
          print(List[index])
    index += 1

10
4
26
4
24
54

## Case Study - 1
Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1.Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).

2.Write a function to check if the year number is a leap year.

3 Write a function to take an array and return another array that contains the
members of the first array that are even.

4.Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

##

In [25]:
## Task 1
squares = [ i**2 for i in range(1, 11)]
print("Square of number from 1 to 10:", squares)

Square of number from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
## Task 2
def check_leap_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 ==0):
        return "Leap Year"
    else:
        return " Not A Leap Year"
    
## Check
check_leap_year(2044)

'Leap Year'

In [48]:
## Task 3
def find_even_numbers(arr):
    return[num for num in arr if num % 2 == 0]

## Check
find_even_numbers([3,2,5,6,4,8,13,6])

[2, 6, 4, 8, 6]

In [51]:
## Task 4
def comman_array_values(arr1, arr2):
    common_values = [num for num in arr1 if num in arr2]
    print("Common Values:", common_values)
    
## Check 
comman_array_values([2,3,4,5,6,7,9],[6,2,5,4,7,8])

Common Values: [2, 4, 5, 6, 7]

## Case Study 2
Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple with values True, False
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
a. Append a new list – *“sparta”, 123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result

##

In [15]:
## Task 1
first_tuple = (10,20,30)
Second_tuple = (40,50,60)

##  Concatenate the two tuples and store it in “t_combine”
t_combine = first_tuple + Second_tuple
print(t_combine)

##  Repeat the elements of “t_combine” 3 times
print(t_combine*3)

## Access the 3rd element from “t_combine”
print(t_combine[2])

##Access the first three elements from “t_combine"
print(t_combine[:3])

##Access the last three elements from “t_combine"
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

In [19]:
## Task 2
my_list = [(1,2,3),('a','b','c'),(True,False)]

In [26]:
## Task 3
my_list.append((1,'a',True))

my_list.append(["spart",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), (1, 'a', True), ['spart', 123], (1, 'a', True), ['spart', 123]]

In [39]:
## Task 4
fruit = {'Fruit': ("Apple", "Banana", "Mango", "Guava"), 'Cost': (85, 54, 120, 70)}
keys = fruit.keys()
values = fruit.values()
print(keys)
print(values)

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [42]:
## Task 5
my_set = { 1,1,"a","a", True, True}
print(my_set)

{1, 'a'}